<div class="container">

  <h3 class="pages-header">SERVICES</h3>
  <div class="services-header">
    RÉÉCRITURE, RÉDACTION DE CONTENUS, CONCEPTION DE SUPPORTS DE COMMUNICATION PRINT ET WEB, RELATIONS PRESSE, BIOGRAPHIE, HABILLAGE SONORE OU SUPPORT VIDÉO, EHCO PROPOSE LA RÉALISATION DE TOUS VOS PROJETS DE COMMUNICATION.
  </div>

  <div class="services-separator-container">
    <div class="services-separator"></div>
    <div class="services-separator"></div>
    <div class="services-separator"></div>
  </div>

  <div class="items-container">
    <div class="items">
      <div class="title left-item">EXPRIMER</div>
      <div class="content left-item">Événementiel</div>

      <div class="title left-item">TRANSMETTRE</div>
      <div class="content left-item">Récit biographique</div>

      <div class="title left-item">PARTAGER</div>
      <div class="content left-item">Relations presse</div>

      <div class="title left-item">FAIRE CONNAITRE</div>
      <div class="content left-item">Dossier et communiqué de presse</div>
    </div>
    <div class="items">
      <div class="title">IDENTIFIER</div>
      <div class="content">Communication visuelle</div>

      <div class="title">DONNER DU SENS</div>
      <div class="content">Conseil en communication</div>

      <div class="title">REFORMULER</div>
      <div class="content">Réécriture, relecture, corrections</div>

      <div class="title">EXPLIQUER</div>
      <div class="content">Plaquettes, flyers, communication digitale</div>
    </div>
  </div>

  <div class="services-separator-container">
    <div class="services-separator"></div>
    <div class="services-separator"></div>
    <div class="services-separator"></div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-3">
      <%= link_to "" do %>
        <div class="reference-card" style="background-image: url('http://www.unsplash.it/600/420/?random')">
          <div class="card-title">LONELY PLANET</div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <%= link_to "" do %>
        <div class="reference-card" style="background-image: url('http://www.unsplash.it/600/500/?random')">
          <div class="card-title">VILLE DE LYON</div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <%= link_to "" do %>
        <div class="reference-card" style="background-image: url('http://www.unsplash.it/600/600/?random')">
          <div class="card-title">FERT</div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <%= link_to "" do %>
        <div class="reference-card" style="background-image: url('http://www.unsplash.it/600/450/?random')">
          <div class="card-title">THEATRE COMEDIE ODEON</div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <%= link_to "" do %>
        <div class="reference-card" style="background-image: url('http://www.unsplash.it/600/480/?random')">
          <div class="card-title">PURE COURCHEVEL</div>
        </div>
      <% end %>
    </div>
  </div>


  <div class="services-separator-container">
    <div class="services-separator"></div>
    <div class="services-separator"></div>
    <div class="services-separator"></div>
  </div>

  <div class="services-header bottom-item">
    EMMANUELLE HEBERT & CO C’EST AUSSI UNE ÉQUIPE DE COLLABORATEURS COMPOSÉE DE RÉDACTEURS, VIDÉASTES, GRAPHISTES, ILLUSTRATEURS, DESIGNERS SONORES, PHOTOGRAPHES ET DÉVELOPPEURS WEB POUR RÉPONDRE DE MANIÈRE GLOBALE À TOUTES VOS DEMANDES DE PROJETS.
  </div>


</div>
